Makefile.local
*.d
*.o
*.a
*.e
*.e.c
.*.sw?
*.i
*.s
tags
nbproject/
src/test/test*[^.m][^.o][^.h]
*.log
doc/*/
.redo/
doxygen_sqlite3.db
doc/html
doc/latext
/docs
.fuse_hidden*
redo-config.local.sh
doxygen

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
