Makefile.local
*.o
*.a
*.e
*.e.c
.*.sw?
*.i
*.s
src/test/0100_nvCursesManager
src/test/0200_nvCursesWindow
doc/
tags
/build*/
CMakeCache.txt
CMakeFiles/
/spikes/
vimsetup

CTestTestfile.cmake
Makefile
cmake_install.cmake
nbproject/
src/CTestTestfile.cmake
src/Makefile
src/cmake_install.cmake
test/0100_nvCursesManager
test/0200_nvCursesWindow
test/0300_nvColorManager
test/0350_nvLabel
test/0360_nvTextbox
test/0370_nvCheckbox
test/0380_nvActionLabel
test/0400_nvFocusManager
test/0410_nvSubwidgetManager
test/0500_nvWindow
test/0600_nvHorizontalMenu
test/0610_nvVerticalMenu
test/0620_nvPopupMenu
test/0700_nvButton
test/0750_nvSelectbox
test/CTestTestfile.cmake
test/Makefile
test/cmake_install.cmak
